<a [routerLink]="[campaign.id]">
	<div
		class="card unlocked card-background-image card-wrapper"
		[class.hollbrook-campaign]="campaign.type === 1"
		[class.aos-campaign]="campaign.type === 2"
		[class.wotl-campaign]="campaign.type === 3"
	>
		<div class="card-content-wrapper">
			<h2 class="white-title">{{ campaign.name }}</h2>
			@if (campaign.endsAt) {
				<p class="white-description">Terminée le {{ campaign.endsAt | date: 'longDate'  }}</p>
			}
			@else {
				<span class="white-description">Démarrée le {{ campaign.startsAt | date: 'longDate' }}</span>
			}
		</div>

		<div class="status-badge-wrapper">
			@if (campaign.endsAt) {
				<p class="status-badge completed-status">Terminée</p>
			}
			@else {
				<p class="status-badge">En cours</p>
			}
		</div>
	</div>
</a>