<div class="page-description-wrapper">
	<h1>Page des campagnes du joueur</h1>
	<p>Vous trouvez ici toutes les campagnes du joueur, en cours ou terminées</p>
	<p>Vous pouvez créer une nouvelle campagne, ou rejoindre une campagne existante</p>
</div>

<ng-container *ngFor="let campaign of campaigns$ | async">
	<app-campaign-card [campaign]="campaign"></app-campaign-card>
</ng-container>

<ng-container *ngFor="let creatableCampaign of creatableCampaigns$ | async">
	<app-creatable-campaign-card [creatableCampaign]="creatableCampaign"></app-creatable-campaign-card>
</ng-container>
