<ng-container *ngIf="creatableCampaign.canBeCreated; else nonCreatableCampaign">
	<div class="campaign-card-wrapper"
		[class.hollbrook-background-image]="creatableCampaign.type === 1"
		[class.aos-background-image]="creatableCampaign.type === 2"
		[class.wotl-background-image]="creatableCampaign.type === 3"
	>
		<h2 class="white-title">{{ creatableCampaign.name }}</h2>
		<p class="white-description">{{ creatableCampaign.description }}</p>
		<a [routerLink]="['new']" class="routerLink-button">Créer l'aventure</a>
	</div>
</ng-container>

<ng-template #nonCreatableCampaign>
	<div class="locked">
		<div>
			<h3>{{ creatableCampaign.name }}</h3>
			<span>Aventure non débloquée</span>
		</div>
		<img src="../../../assets/icons/lock.png" class="lock-icon"/>
	</div>
</ng-template>