.campaign-card-wrapper {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	padding: 2rem;
}

.campaign-card-wrapper:hover {
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	transform: scale(1.01);
}

.selected {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.352);
}

.grey {
	filter: grayscale(100%);
}