<ng-container *ngIf="creatableCampaign.canBeCreated; else nonCreatableCampaign">
	<div class="card unlocked"
		[class.hollbrook-campaign]="creatableCampaign.type === 1"
		[class.aos-campaign]="creatableCampaign.type === 2"
		[class.wotl-campaign]="creatableCampaign.type === 3"
	>
		<div class="card-content-wrapper">
			<h2 class="white-title">{{ creatableCampaign.name }}</h2>
			<p class="white-description">{{ creatableCampaign.description }}</p>
		</div>
		<div>
			<button (click)="onCreatableCampaignClicked()" class="base-button">Créer la campagne</button>
		</div>
	</div>
</ng-container>

<ng-template #nonCreatableCampaign>
	<div class="card locked">
		<div>
			<h3>{{ creatableCampaign.name }}</h3>
			<span>Campagne non débloquée</span>
		</div>
		<img src="../../../assets/icons/lock.png" class="lock-icon"/>
	</div>
</ng-template>