<div [class.grey]="!isSelected">
	<div class="campaign-card-wrapper"
		[class.selected]="isSelected"
		[class.hollbrook-background-image]="campaign.type === 1"
		[class.aos-background-image]="campaign.type === 2"
		[class.wotl-background-image]="campaign.type === 3"
		(click)="selectedCampaign.emit()"
	>
		<h2 class="white-title">{{ campaign.name }}</h2>
		<p class="white-description">{{ campaign.description }}</p>
	</div>
</div>

<ng-container *ngIf="creatableCampaign.canBeStarted; else nonCreatableCampaign">
	<div> 
		<div>
			<h3>{{ creatableCampaign.name }}</h3>
			<p>{{ creatableCampaign.description }}</p>
		</div>
		<button (click)="startCampaignAsync(creatableCampaign.type)" class="base-button">Créer l'aventure</button>
	</div>
</ng-container>
<ng-template #nonCreatableCampaign>
	<div class="locked">
		<div>
			<h3>{{ creatableCampaign.name }}</h3>
			<span>Aventure non débloquée</span>
		</div>
		<img src="../../../assets/icons/lock.png" class="lock-icon"/>
	</div>
</ng-template>