.campaign-background-image {
	width: 100%;
	height: 200px;
	/* background-size: cover;
	background-position: center; */
}

.adventure-card {
	margin: 2rem 1rem;
	padding: 1rem;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.locked {
	background-color: #c1c5c3;
}

.unlocked {
	background-color: aliceblue;
}

.unlocked:hover {
	background-color: rgb(217, 232, 244);
	cursor: pointer;
}

.lock-icon {
	width: 2rem;
	height: 2rem;
}

.hollbrook-background-image {
	background-image: src("../../../assets/campaigns/hollbrook-background-campaign-image.jpg");
}

.aos-background-image {
	background-image: src("../../../assets/campaigns/army-of-shadow-background-campaign-image.jpg");
}

.wotl-background-image {
	background-image: src("../../../assets/campaigns/wrath-of-the-lich-background-campaign-image.jpg");
}