<ng-container *ngIf="!campaigns.length; else campaignsList">
	<a class="link-button" [routerLink]="'new'">Créer une campagne</a>
	<button class="link-button" disabled>[Soon] Rejoindre une campagne</button>
	<!-- TODO - empty state image or text -->
</ng-container>

<ng-template #campaignsList>
	<ul>
		<li *ngFor="let campaign of campaigns">
			<div
				class="campaign-background-image"
				[class.hollbrook-background-image]="campaign.type === 1"
				[class.aos-background-image]="campaign.type === 2"
				[class.wotl-background-image]="campaign.type === 3"
			>
				<h3>{{ campaign.name }}</h3>
				<p>{{ campaign.startsAt }}</p>
				<a [routerLink]="" class="link-button">Commencer la campagne</a>
				<a [routerLink]="" class="link-button">Continuer la campagne</a>
				<button class="link-button" disabled>[soon] Ajouter des joueurs à la campagne</button>
			</div>
		</li>
	</ul>
</ng-template>