.campaign-background-image {
	width: 100%;
	height: 200px;
	/* background-size: cover;
	background-position: center; */
}

.hollbrook-background-image {
	background-image: src("../../../assets/campaigns/hollbrook-background-campaign-image.jpg");
}

.aos-background-image {
	background-image: src("../../../assets/campaigns/army-of-shadow-background-campaign-image.jpg");
}

.wotl-background-image {
	background-image: src("../../../assets/campaigns/wrath-of-the-lich-background-campaign-image.jpg");
}