<div
	class="player-card"
	[class.hero-card]="player.profile.monsterType"
	[class.dm-card]="player.profile.class && player.profile.race"
	(click)="onPlayerCardClick()"	
>
	<div>
		<img class="player-logo" *ngIf="player.profile.class === 0"	alt="" src="../../../assets/hero-classes/epees.png" />
		<img class="player-logo" *ngIf="player.profile.class === 4" alt="" src="../../../assets/hero-classes/religion.png" />
		<img class="player-logo" *ngIf="player.profile.class === 6" alt="" src="../../../assets/hero-classes/haches.png" />
		<img class="player-logo" *ngIf="player.profile.class === 7" alt="" src="../../../assets/hero-classes/baguette-magique.png" />
		<img class="player-logo" *ngIf="player.profile.monsterType" alt="" src="../../../assets/hero-classes/crane.png" />
		<span>{{ player.profile.firstName }}</span>
	</div>
	<div class="main-button-wrapper">
		<a	class="link-button base-button"	[routerLink]="[player.id, 'campaigns']">
			<span>Jouer avec {{ player.profile.firstName }}</span>
		</a>
	</div>
</div>