#players-page {
	display: flex;
	flex-direction: column;
	height: 90vh;
}

#player-cards-list {
	background-color: rgba(149, 126, 77, 0.411);
	display: flex;
	flex-direction: column;
	width: 20vw;
}

.displayed-player {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80vw;
}

.players-list {
	display: flex;
	justify-content: center;

}

.empty-state-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100vw;
}