<app-page-background-image [image]="'players-creation-page'" />

@if (playersStore.isLoading()) {
	<app-loading-spinner />
}

@else {
	<app-page-wrapper>
		<div class="players-page">
			<app-back-arrow text="Retour à la page d'accueil" link="../../..">sdsds</app-back-arrow>

			@if (playersStore.players().length) {
				<div class="players-list">
					<div class="player-cards-list">
						@for (player of playersStore.players(); track player.id) {
							<app-player-card [player]="player" />
						}
						<div>
								@if (playersStore.user()?.isDungeonMaster) {
									<p>Vous êtes également maître du donjon sur une campagne.</p>
									<p>TODO : créer un composant dédié propre avec lien de navigation</p>
								}
								@else if (!(playersStore.user()?.isAvailable ?? false)) {
									<button	class="base-button" (click)="playersStore.toggleUserAvailability()">
										<span>Se déclarer disponible comme maître du donjon</span>
									</button>
								}
								@else {
									<button	class="base-button" (click)="playersStore.toggleUserAvailability()">
										<span>Se déclarer indisponible comme maître du donjon</span>
									</button>
								}
						</div>
						@if (playersStore.canCreatePlayer()) {
							<div class="main-button-wrapper">
								<a [routerLink]="['new']" class="link-button base-button nav-button welcome-link">Créer un nouveau joueur</a>
							</div>
						}
					</div>
				</div>
			}
			@else {
				<nav class="empty-state-nav">
					<a [routerLink]="['new']" class="link-button base-button nav-button welcome-link">
						<span>Créer un nouveau joueur</span>
					</a>
				</nav>
			}
		</div>
	</app-page-wrapper>
}