<app-page-background-image [image]="backgroundImage" />

<app-page-wrapper>
	<div id="players-page">
		<app-back-arrow text="Retour à la page d'accueil" link="../../.."></app-back-arrow>

		@if (players.length) {
			<div class="players-list">
				<div class="displayed-player">
					<app-selected-player [selectedClass]="currentPlayer!.profile!.class" />
				</div>
				
				<div id="player-cards-list">
					@for (player of players; track player.id) {
						<app-player-card [player]="player" [isSelected]="isSelected(player)" (playerSelected)="onPlayerSelected(player)" />
					}
					<div class="main-button-wrapper">
						<a [routerLink]="['new']" class="link-button base-button nav-button welcome-link">Créer un nouveau joueur</a>
					</div>
				</div>
			</div>
		}
		@else {
			<nav class="empty-state-nav">
				<a [routerLink]="['new']" class="link-button base-button nav-button welcome-link">
					<span>Créer un nouveau joueur</span>
				</a>
			</nav>
		}
	</div>
</app-page-wrapper>