<ng-container *ngIf="!mainCampaign; else campaignDisplay">
	<!-- TODO - empty state image or spinner -->
</ng-container>

<ng-template #campaignDisplay>
	<div
		class="body-background-image"
		[class.hollbrook-campaign]="mainCampaign.type === 1"
		[class.aos-campaign]="mainCampaign.type === 2"
		[class.wotl-campaign]="mainCampaign.type === 3"
	>
		<h1 class="white-title">{{ mainCampaign.name }}</h1>
		<p class="white-description">Démarrée le {{ mainCampaign.startsAt | date:'longDate' }}</p>

		<ul>
			<li *ngFor="let adventure of mainCampaign.adventures">
				<app-adventure-card [adventure]="adventure"></app-adventure-card>
			</li>
			<li *ngFor="let creatableAdventure of creatableAdventures">
				<app-creatable-adventure-card [creatableAdventure]="creatableAdventure"></app-creatable-adventure-card>
			</li>
		</ul>
	</div>

</ng-template>