<ng-container *ngIf="!mainCampaign; else campaignDisplay">
	<!-- TODO - empty state image or spinner -->
</ng-container>

<ng-template #campaignDisplay>
	<div
		class="body-background-image"
		[class.hollbrook-background-image]="mainCampaign.type === 1"
		[class.aos-background-image]="mainCampaign.type === 2"
		[class.wotl-background-image]="mainCampaign.type === 3"
	>
		<h1 class="white-title">{{ mainCampaign.name }}</h1>
		<p class="white-description">Démarrée le {{ mainCampaign.startsAt }}</p>

		<div class="call-to-action-wrapper">
			<button class="base-button" disabled>[soon] Ajouter des joueurs à la campagne</button>
		</div>

		<div>
			<ul>
				<li *ngFor="let adventure of mainCampaign.adventures">
					<div class="adventure-card unlocked">
						<h3>{{ adventure.name }}</h3>
						<a
							*ngIf="adventure.status === 1"
							[routerLink]="['adventures', adventure.id]"
							class="link-button base-button"
						>
							<span>Jouer l'aventure</span>
						</a>
						<span *ngIf="adventure.status === 2">Aventure terminée</span>
					</div>
				</li>
				<li *ngFor="let creatableAdventure of creatableAdventures">
					<div *ngIf="creatableAdventure.canBeStarted; else lockedAdventure" class="adventure-card unlocked">
						<div>
							<h3>{{ creatableAdventure.name }}</h3>
							<p>{{ creatableAdventure.description }}</p>
						</div>
						<button (click)="startAdventureAsync(creatableAdventure.type)" class="base-button">Créer l'aventure</button>
					</div>
					<ng-template #lockedAdventure>
						<div class="adventure-card locked">
							<div>
								<h3>{{ creatableAdventure.name }}</h3>
								<span>Aventure non débloquée</span>
							</div>
							<img src="../../../assets/icons/lock.png" class="lock-icon"/>
						</div>
					</ng-template>
				</li>
			</ul>
		</div>
	</div>

</ng-template>