.adventure-card {
	margin: 2rem 1rem;
	padding: 1rem;
	border-radius: var(--border-radius);;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}

.locked {
	background-color: #c1c5c3;
}

.unlocked {
	background-color: aliceblue;
}

.unlocked:hover {
	background-color: rgb(217, 232, 244);
	cursor: pointer;
}

.lock-icon {
	width: 2rem;
	height: 2rem;
}