@if (mainCampaign) {
	<div
		class="body-background-image"
		[class.hollbrook-campaign]="mainCampaign.type === 1"
		[class.aos-campaign]="mainCampaign.type === 2"
		[class.wotl-campaign]="mainCampaign.type === 3"
	>
		<app-back-arrow link=".." text="Retour vers les campagnes"></app-back-arrow>

		<div class="page-description-wrapper">
			<h1 class="white-title">{{ mainCampaign.name }}</h1>
			<p class="white-description">Démarrée le {{ mainCampaign.startsAt | date:'longDate' }}</p>
		</div>

		<ul>
			@for (adventure of mainCampaign.adventures; track adventure.id) {
				<li>
					<app-adventure-card [adventure]="adventure"></app-adventure-card>
				</li>
			}
			@for (creatableAdventure of creatableAdventures; track creatableAdventure.type) {
				<li>
					<app-creatable-adventure-card [creatableAdventure]="creatableAdventure"></app-creatable-adventure-card>
				</li>
			}
		</ul>
	</div>
}

@else {
	<!-- TODO - empty state image or spinner -->
}