<app-page-background-image image="players-creation-page" />

<app-page-wrapper>
	<app-back-arrow link=".." text="Retour vers mes joueurs" />

	<div class="page-centered-description-wrapper">
		<h1 class="white-title">Créer un nouveau joueur</h1>
	</div>

	@if (!isLoading) {
		@if (creatablePlayers.length) {
			<div id="creatable-players-wrapper">
				<div id="creatable-players-list">
					<div class="player-cards-wrapper">
						<form (ngSubmit)="onSubmit()" [formGroup]="playerCreationForm" >

							@if (formStep === 'playerClass') {
								<div class="form-field-wrapper">
									<h3>Classe</h3>
									<div class="options-selector">
										@for (option of playerClassOptions; track option.name) {
											<input	type="radio"
													[id]="'class_' + option.value"
													[value]="option.value"
													[formControlName]="playerClassFieldName"
													/>
											<label [for]="'class_' + option.value" class="option">
												<img class="icon" [src]="option.iconUrl" [alt]="option.altText"  (click)="formStep = 'playerSpecies'" />
												@if (option.name) {
													<span>{{ option.name }}</span>
												}
											</label>
										}
									</div>
								</div>
							}

							@if (formStep === 'playerSpecies') {
								<div class="form-field-wrapper">
									<h3>Espèce</h3>
									<div class="options-selector">
										@for (option of playerSpeciesOptions; track option.name) {
											<input	type="radio"
													[id]="'species_' + option.value"
													[value]="option.value"
													[formControlName]="playerSpeciesFieldName"
											/>
											<label [for]="'species_' + option.value" class="option">
												<img class="icon" [src]="option.iconUrl" [alt]="option.altText" (click)="formStep = 'playerGender'" />
												@if (option.name) {
													<span>{{ option.name }}</span>
												}
											</label>
										}
									</div>
								</div>
							}

							@if (formStep === 'playerGender') {
								<div class="form-field-wrapper">
									<h3>Genre</h3>
									<div class="options-selector">
										@for (option of playerGenderOptions; track option.name) {
											<input	type="radio"
													[id]="'gender_' + option.value"
													[value]="option.value"
													[formControlName]="playerGenderFieldName"
											/>
											<label [for]="'gender_' + option.value" class="option">
												<img class="icon" [src]="option.iconUrl" [alt]="option.altText"  (click)="formStep = 'playerName'" />
												@if (option.name) {
													<span>{{ option.name }}</span>
												}
											</label>
										}
									</div>
								</div>
							}

							@if (formStep === 'playerName') {
								<label for="playerName">Nom</label>
								<input	type="text"
										placeholder="Nom du joueur"
										name="playerName"
										required
										formControlName="playerName"
								/>

								<button class="base-button" type="submit">Créer le joueur</button>
							}

						</form>
					</div>
				</div>

				@if (classCtrl.value && speciesCtrl.value) {
					<app-selected-player [selectedClass]="classCtrl.value" [selectedSpecies]="speciesCtrl.value" />
				}
			</div>
		}

		@else {
			<p>Vous ne pouvez pas créer plus de quatre joueurs.</p>
		}
	}

	@else {
		<p>Chargement...</p>
	}
</app-page-wrapper>
