
.player-creation-form-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.transparent-stepper-background {
	background: none;
	color: white
}

.player-creation-form-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin: 2rem;
	padding: 2rem;
	height: 30vh;
	width: 40vw;
	background-color: rgba(0, 0, 0, 0.664);
	border-radius: var(--border-radius);
}

.form-field-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-card-icons-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.option {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	cursor:pointer;

	width:8rem;
	height:8rem;

	-webkit-transition: all 100ms ease-in;
		-moz-transition: all 100ms ease-in;
			transition: all 100ms ease-in;

	-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
		-moz-filter: brightness(1.8) grayscale(1) opacity(.7);
			filter: brightness(1.8) grayscale(1) opacity(.7);
}

.option:hover{
	-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
		-moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
			filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.options-selector {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}

.options-selector input:active + .option {
	opacity: .9;
}

.options-selector input:checked + .option {
	-webkit-filter: none;
		-moz-filter: none;
			filter: none;
}

.options-selector input {
	margin:0;
	padding:0;
	-webkit-appearance:none;
		-moz-appearance:none;
			appearance:none;
}

.icon {
	width: 3rem;
	margin: 1rem;
}

.stepper-button {
	background: none;
	cursor: pointer;
	border: 0;
	padding: 0;
}