<div class="action-bar">
	@if (currentPlayer && userId === currentPlayer.userId) {
		<div class="action-bar-buttons">
			<button
				(click)="onMeleeAttackAsync()"
				class="base-button"
				[disabled]="!currentPlayer.attributes?.attackCount"
			>
				Attaquer au corps à corps
			</button>

			<button
				(click)="onRangeAttackAsync()"
				class="base-button"
				[disabled]="!currentPlayer.attributes?.attackCount"
			>
				Attaquer à distance
			</button>

			<button
				(click)="onHealAsync()"
				class="base-button"
				[disabled]="!currentPlayer.attributes?.healCount"
			>
				Soigner
			</button>

			<button
				(click)="onSearchAsync()"
				class="base-button"
				[disabled]="!currentPlayer.attributes?.chestSearchCount"
			>
				Fouiller le coffre
			</button>

			@if (canOpenDoor) {
				<button (click)="onOpenDoorAsync()" class="base-button">Ouvrir la porte</button>
			}

			<button (click)="onEndTurnAsync()"  class="base-button">Finir son tour</button>
		</div>
	}
	@else {
		<p>En attendant que le joueur en cours finisse son tour, vous pouvez regarder votre inventaire.</p>
	}

	@if (currentPlayer) {
		<div class="current-player-card">
			<p>Joueur en cours : {{ currentPlayer.profile?.name }}</p>
		</div>
	}
</div>