.player {
	width: 3rem;
	height: 3rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dead {
	background-image: url('./../../../assets/players/skeleton-transparent.svg');
}

/* HEROES */

.regdar {
	background-image: url('./../../../assets/players/heroes/fighter-male.png');
}

.jozian {
	background-image: url('./../../../assets/players/heroes/paladin-male.png');
}

.lidda {
	background-image: url('./../../../assets/players/heroes/rogue-female.png');
}

.mialye {
	background-image: url('./../../../assets/players/heroes/wizzard-female.png');
}

/* MONSTERS */

.bugBear {
	background-image: url('./../../../assets/players/monsters/Fomorian.png');
}

.goblin {
	background-image: url('./../../../assets/players/monsters/Goblin.png');
}

.gnoll {
	background-image: url('./../../../assets/players/monsters/Gnoll.png');
}
