#campaign-card-content {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

#campaign-card-description {
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 1rem;
}

#current-campaign-status {
	display: flex;
	height: 100%;
	justify-content: flex-start;
}

#current-campaign-status-badge {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	border: 1px solid black;
	border-radius: var(--border-radius);
	padding: 1rem;
	background-color: white;
	color: black;
}