<!-- Current campaign -->
<a [routerLink]="[campaign.id]">
	<div
		class="card unlocked card-background-image card-wrapper"
		[class.hollbrook-campaign]="campaign.type === 1"
		[class.aos-campaign]="campaign.type === 2"
		[class.wotl-campaign]="campaign.type === 3"
	>
		<div class="card-content-wrapper">
			<h2 class="white-title">{{ campaign.name }}</h2>
			<p *ngIf="campaign.endsAt; else currentCampaign" class="white-description">
				Terminée le {{ campaign.endsAt | date: 'longDate'  }}
			</p>
			<ng-template #currentCampaign>
				<span class="white-description">Démarrée le {{ campaign.startsAt | date: 'longDate' }}</span>
			</ng-template>
		</div>
		<div class="status-badge-wrapper">
			<p *ngIf="campaign.endsAt" class="status-badge completed-status">Terminée</p>
			<p *ngIf="!campaign.endsAt" class="status-badge">En cours</p>
		</div>
	</div>
</a>