.background-image {
	background-repeat: no-repeat;
	background-position: center;
	z-index:-1;
	background-size: cover;
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.hollbrook-background-campaign-image {
	background-image: url('../../../../assets/campaigns/hollbrook-background-campaign-image.jpg');
}

.signup-login-page {
	background-image: url('../../../../assets/background-images/dnd-login-signup-page-3.jpg');
}

.players-creation-page {
	background-image: url('../../../../assets/background-images/players-creation-page.jpg');
}