<div id="displayed-creatable-player">
	<img *ngIf="class === 1" alt="Regdar picture" src="../../../assets/players/heroes/fighter-male.png" />
	<img *ngIf="class === 7" alt="Lidda picture" src="../../../assets/players/heroes/rogue-female.png" />
	<img *ngIf="class === 5" alt="Jozan picture" src="../../../assets/players/heroes/paladin-male.png" />
	<img *ngIf="class === 8" alt="Mialye picture" src="../../../assets/players/heroes/wizzard-female.png" />
	<img *ngIf="class === 0" alt="Dungeon Master picture" src="../../../assets/players/monsters/Fomorian.png" />
</div>