.square {
	width: 100px;
	height: 100px;
	border: 1px solid red;
}

.dungeon-tile {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.type-1 {
	background-image: url('./../../../assets/dungeon-tiles/dungeon-tile-1.jpg');
}

.type-2 {
	background-image: url('./../../../assets/dungeon-tiles/dungeon-tile-2.jpg');
}

.type-3 {
	background-image: url('./../../../assets/dungeon-tiles/dungeon-tile-3.jpg');
}

