<div
	class="square dungeon-tile"
	[ngClass]="tileStyle"
	[class.top-wall]="square.hasTopWall"
	[class.left-wall]="square.hasLeftWall"
	[class.right-wall]="square.hasRightWall"
	[class.bottom-wall]="square.hasBottomWall"
	[class.locked-chest]="square.hasLockedChest"
	[class.opened-chest]="square.hasOpenedChest"
	[class.pillar]="square.hasPillar"
	(click)="onSquareClicked()"
>
	<div [class.is-disabled]="square.isDisabled"></div>
	<div [class.selected]="selected === true">
		<ng-container *ngIf="player">
			<app-player [player]="player"></app-player>
		</ng-container>
		<ng-container *ngIf="square.isDoor">
			<app-interactive-element [interactiveElement]="'door'"></app-interactive-element>
		</ng-container>
		<ng-container *ngIf="square.hasLockedChest">
			<app-interactive-element [interactiveElement]="'locked-chest'"></app-interactive-element>
		</ng-container>
		<ng-container *ngIf="square.hasOpenedChest">
			<app-decorative-element [decorativeElement]="'opened-chest'"></app-decorative-element>
		</ng-container>
		<ng-container *ngIf="square.hasPillar">
			<app-decorative-element [decorativeElement]="'pillar'"></app-decorative-element>
		</ng-container>
	</div>
</div>