.player {
	width: 3rem;
	height: 3rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bugBear {
	background-image: url('./../../../assets/monsters/Fomorian.png');
}

.goblin {
	background-image: url('./../../../assets/monsters/Goblin.png');
}

.gnoll {
	background-image: url('./../../../assets/monsters/Gnoll.png');
}
