<app-header></app-header>
<div id="board-wrapper">
	<div class="board">
		@for (square of squares; track square.id) {
			<app-square
				[square]="square"
				[squareNeedsToReload]="square.id === squaredIdThatNeedsToReload"
				[squareIsSelected]="square.id === selectedSquaredId"
				(squareChanged)="onSquareChanged($event)"
				(squareSelected)="onSquareSelected($event)"
			/>
		}
	</div>

	@if (!isLoading) {
		<app-action-bar [selectedSquare]="selectedSquare" [userPlayer]="userPlayer" [currentPlayer]="currentPlayer"></app-action-bar>
	}
</div>