<app-page-background-image [image]="backgroundImage" />

@if (isLoading) {
	<app-loading-spinner />
}

@else {
	<app-page-wrapper>
		<app-adventure-log />
		<div id="board-wrapper">
			<div class="board">
				@for (square of squares; track square.id) {
					<app-square
						[square]="square"
						[squareNeedsToReload]="square.id === squaredIdThatNeedsToReload"
						[squareIsSelected]="square.id === selectedSquaredId"
						(squareChanged)="onSquareChanged($event)"
						(squareSelected)="onSquareSelected($event)"
					/>
				}
			</div>

			<app-action-bar [selectedSquare]="selectedSquare" [userPlayer]="userPlayer" [currentPlayer]="currentPlayer" />
		</div>
	</app-page-wrapper>
}