.toast-wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
}

.technical-error {
	background-color: #f44336;
	color: white;
	padding: 16px;
	margin: 16px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.domain-error {
	background-color: #ff9800;
	color: white;
	padding: 16px;
	margin: 16px;
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}