.toast-message-wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
}

.toast-message-error {
	color: white;
	padding: 16px;
	margin: 16px;
	border-radius: 5px;
	text-align: justify;
}

.technical-error {
	background-color: #f44336;
}

.domain-error {
	background-color: #ff9800;
}

#toast-message-close-cross {
	display: flex;
	justify-content: flex-end;
	padding: 5px;
	cursor: pointer;
}