<div
	class="player-card"
	[class.selected]="isSelected"
	(click)="onPlayerCardClick()"	
>
	<div>
		@switch (player.profile?.class) {
			@case (0) {
				<img class="player-logo" alt="" src="../../../assets/hero-classes/crane.png" />
			}
			@case (1) {
				<img class="player-logo" alt="" src="../../../assets/hero-classes/epees.png" />
			}
			@case (5) {
				<img class="player-logo" alt="" src="../../../assets/hero-classes/religion.png" />
			}
			@case (7) {
				<img class="player-logo" alt="" src="../../../assets/hero-classes/haches.png" />
			}
			@case (8) {
				<img class="player-logo" alt="" src="../../../assets/hero-classes/baguette-magique.png" />
			}
		}
		
		<span>{{ player.profile?.name }}</span>
	</div>
	<div class="main-button-wrapper">
		<a	class="link-button base-button"	[routerLink]="[player.id, 'campaigns']">
			<span>Jouer avec {{ player.profile?.name }}</span>
		</a>
	</div>
</div>