<div
	class="player-card"
	[class.selected]="isSelected"
	(click)="onPlayerCardClick()"	
>
	<div class="player-information">
		@switch (player.profile?.class) {
			@case (0) {
				<img
					class="player-logo"
					alt="dungeon master class icon"
					src="../../../../assets/icons/classes/dungeon-master-class-icon.png"
				/>
			}
			@case (1) {
				<img
					class="player-logo"
					alt="rogue class icon"
					src="../../../../assets/icons/classes/rogue-class-icon.png"
				/>
			}
			@case (5) {
				<img
					class="player-logo"
					alt="cleric class icon"
					src="../../../../assets/icons/classes/cleric-class-icon.png"
				/>
			}
			@case (7) {
				<img
					class="player-logo"
					alt="warrior class icon"
					src="../../../../assets/icons/classes/warrior-class-icon.png"
				/>
			}
			@case (8) {
				<img
					class="player-logo"
					alt="wizard class icon"
					src="../../../../assets/icons/classes/wizard-class-icon.png"
				/>
			}
		}
		
		<div class="player-information-text">
			<h3 class="strong-title">{{ player.profile?.name }}</h3>
			<p>
				<span>{{ getLokalisedSpeciesName(player.profile!.species, player.profile!.gender) }}</span>
				<span> - </span>
				<span>{{ getLokalisedClassName(player.profile!.class, player.profile!.gender) }}</span>
			</p>
		</div>
	</div>
	<div class="player-card-buttons">
		@if (!player.isAvailable) {
			<button	class="base-button" (click)="togglePlayerAvailability()">
				<span>Se déclarer disponible</span>
			</button>
		}
		@if (player.isAvailable && player.campaignId === null) {
			<button	class="base-button" (click)="togglePlayerAvailability()">
				<span>Se déclarer indisponible</span>
			</button>
		}
		<a	class="link-button base-button"	[routerLink]="[player.id, 'campaigns']">
			<span>Jouer avec {{ player.profile?.name }}</span>
		</a>
	</div>
</div>