<div
	class="player-card"
	[class.selected]="isSelected"
	(click)="onPlayerCardClick()"	
>
	<div>
		<img class="player-logo" *ngIf="player.profile?.class === 1"	alt="" src="../../../assets/hero-classes/epees.png" />
		<img class="player-logo" *ngIf="player.profile?.class === 5" alt="" src="../../../assets/hero-classes/religion.png" />
		<img class="player-logo" *ngIf="player.profile?.class === 7" alt="" src="../../../assets/hero-classes/haches.png" />
		<img class="player-logo" *ngIf="player.profile?.class === 8" alt="" src="../../../assets/hero-classes/baguette-magique.png" />
		<img class="player-logo" *ngIf="player.profile?.class === 0" alt="" src="../../../assets/hero-classes/crane.png" />
		<span>{{ player.profile?.name }}</span>
	</div>
	<div class="main-button-wrapper">
		<a	class="link-button base-button"	[routerLink]="[player.id, 'campaigns']">
			<span>Jouer avec {{ player.profile?.name }}</span>
		</a>
	</div>
</div>