.player-card {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	pointer-events: stroke;
}

.player-card:hover:not(.selected) {
	background-color: rgba(253, 255, 144, 0.527);
	box-shadow: rgba(253, 255, 144, 0.527);
}

.selected {
	background-color: rgba(253, 255, 144, 0.527);
	box-shadow: rgba(253, 255, 144, 0.527);
}

.player-logo {
	width: 30px;
}