<app-page-background-image image="players-creation-page" />

<app-page-wrapper>
	<app-back-arrow link=".." text="Retour vers mes joueurs" />

	<div class="page-centered-description-wrapper">
		<h1 class="white-title">Créer un nouveau joueur</h1>
	</div>

	@if (!isLoading) {
		@if (creatablePlayers.length) {
			<div id="creatable-player-wrapper">
				<div id="creatable-players-list">
					<!-- Players classes -->
					<h3>Classe</h3>
					@for (creatablePlayer of creatablePlayers; track creatablePlayer.class.type) {
						<app-creatable-player-class-card
							[class]="creatablePlayer.class"
							(classSelected)="selectPlayerClass(creatablePlayer.class.type)"
							[isSelectedClass]="creatablePlayer.class.type === this.selectedClass"
						/>
					}

					<!-- Players species -->
					<h3>Espèce</h3>
					@for (creatablePlayer of creatablePlayers; track creatablePlayer.class) {
						@if (creatablePlayer.class.type === selectedClass) {
							@for (creatableSpecies of creatablePlayer.associatedSpecies; track creatableSpecies.type) {
								<app-creatable-player-species-card
									[species]="creatableSpecies"
									(speciesSelected)="selectPlayerSpecies(creatableSpecies.type)"
									[isSelectedSpecies]="creatableSpecies.type === this.selectedSpecies"
								/>
							}
						}
					}
				</div>

				@if (selectedClass && selectedSpecies) {
					<!-- TODO - pass gender as well to modify display accordingly -->
					<app-selected-player [selectedClass]="selectedClass" [selectedSpecies]="selectedSpecies" />
				}
			</div>

			<div class="main-button-wrapper">
				<button
					(click)="onSubmit()"
					class="base-button"
					type="submit"
					[disabled]="!selectedClass && !selectedSpecies"
				>
				<!-- TODO disabled should come from input name not being registered -->
					<span>Créer le joueur</span>
				</button>
			</div>
		}

		@else {
			<p>Vous ne pouvez pas créer plus de quatre joueurs.</p>
		}
	}

	@else {
		<p>Chargement...</p>
	}
</app-page-wrapper>
