<app-header></app-header>

<div class="page-description-wrapper">
	<h2>Page de création de joueur</h2>
</div>

<ng-container *ngIf="!isLoading; else loading">
	<ng-container *ngIf="creatablePlayers.length; else emptyState">
		<!-- Players list -->
		<form (ngSubmit)="onSubmit()" [formGroup]="playerCreationForm" class="user-form">
			<div class="form-element">
				<label class="form-label">Choisir le joueur à créer</label>
				<mat-radio-group formControlName="playerType" aria-label="Select an option" class="form-input creatable-players-list">
					<ng-container *ngFor="let player of creatablePlayers">
						<mat-radio-button
							type="radio"
							[value]="player.type"
							[attr.name]="player.type"
							[checked]="selectedPlayer?.type == player.type"
						>
							{{ player.firstName }}
						</mat-radio-button>
					</ng-container>
				</mat-radio-group>
			</div>
			<div *ngIf="playerTypeCtrl.dirty && playerTypeCtrl.hasError('required')" class="error-message form-element">
				Vous devez sélectionner un joueur.
			</div>
			<button class="form-element" type="submit" [disabled]="playerCreationForm.invalid">Créer le joueur</button>
		</form>

		<!-- Selected player display -->
		<ng-container *ngIf="selectedPlayer">
			<app-creatable-player-card [player]="selectedPlayer"></app-creatable-player-card>
		</ng-container>
	</ng-container>

	<ng-template #emptyState>
		<p>Vous avez débloqué et créé tous les joueurs créables (message à changer)</p>
	</ng-template>
</ng-container>

<ng-template #loading>
	<p>Chargement...</p>
</ng-template>