<h2>Page de création de joueur</h2>
<div *ngIf="creatablePlayers.length; else emptyState">
	<form (ngSubmit)="onSubmit()" [formGroup]="playerCreationForm" class="user-form">
		<div class="form-element">
			<label class="form-label">Choisir le joueur à créer</label>
			<mat-radio-group
				aria-label="Select an option"
				class="form-input creatable-players-list"
				formControlName="playerType"
				name="playerType"
			>
				<mat-radio-button *ngFor="let player of creatablePlayers" [value]="player.type">{{ player.firstName }}</mat-radio-button>
			</mat-radio-group>
		</div>
		<div *ngIf="playerTypeCtrl.dirty && playerTypeCtrl.hasError('required')" class="error-message form-element">
			Vous devez sélectionner un joueur.
		</div>
		<button class="form-element" type="submit" [disabled]="playerCreationForm.invalid">Créer le joueur</button>
	</form>
	<div>
		<h3>{{ selectedPlayer?.firstName }}</h3>
		<img src="" alt="player image preview">
		<p>{{ selectedPlayer?.description }}</p>
		<div>
			<span>Points de vie</span>
			<span>{{ selectedPlayer?.maxAttributes?.maxLifePoints }}</span>
		</div>
		<div>
			<span>Points de magie</span>
			<span>{{ selectedPlayer?.maxAttributes?.maxManaPoints }}</span>
		</div>
		<div>
			<span>Points d'armure</span>
			<span>{{ selectedPlayer?.maxAttributes?.maxShield }}</span>
		</div>
		<div>
			<span>Nombre de pas</span>
			<span>{{ selectedPlayer?.maxAttributes?.maxFootSteps }}</span>
		</div>
	</div>
</div>

<ng-template #emptyState>
	<p>Vous avez débloqué et créé tous les joueurs créables (message à changer)</p>
</ng-template>