<ng-container *ngIf="!isLoading; else loading">
	<div
		class="body-background-image"
		[class.hollbrook-campaign]="selectedCampaign.type === 1"
		[class.aos-campaign]="selectedCampaign.type === 2"
		[class.wotl-campaign]="selectedCampaign.type === 3"
	>
		<app-back-arrow link=".." text="Retour vers les campagnes"></app-back-arrow>

		<div class="page-description-wrapper">
			<h1 class="white-title">{{ selectedCampaign.name }}</h1>
		</div>

		<!-- FORM -->
		<ng-container *ngIf="selectedCampaign">
			<form (ngSubmit)="onSubmit()" [formGroup]="campaignCreationForm" class="form-content">
				
				<h2 class="white-title form-title">Choix des héros pour la campagne</h2>
				<!-- Players fields -->
				<div class="form-section" formGroupName="heroes">
					<div class="form-element">
						<h3 class="white-description">Héro 1</h3>
						<span class="white-description">Vous même</span>
						<span class="white-description">({{ currentPlayer.profile?.name }})</span>
					</div>
					<ng-container *ngFor="let _ of [].constructor(selectedCampaign.maxPlayers - 1); let playerIndex = index">
						<div class="form-element">
							<h3 class="white-description">Héro {{ playerIndex + 2}}</h3>
							<mat-form-field class="form-input">
								<mat-label class="form-label white-description">Choisir le joueur</mat-label>
								<mat-select
									formControlName="{{ 'hero_' + playerIndex }}"
									aria-label="Select a player"
									class="form-input creatable-players-list"
								>
									<ng-container *ngFor="let player of players$ | async">
										<mat-option [value]="player">
											{{ player.profile?.name }}
										</mat-option>
									</ng-container>
									<mat-select-trigger>
										<div class="select-content white-description">
											<span>
												{{ heroesCtrl.controls["hero_" + playerIndex].value?.profile?.name }}
											</span>
											<span (click)="deleteHeroesControlValue($event, playerIndex)">
												<mat-icon>clear</mat-icon>
											</span>
										</div>
									</mat-select-trigger>
								</mat-select>
							</mat-form-field>
						</div>
					</ng-container>
				</div>
			
				<!-- Dungeon master field -->
				<h2 class="white-title form-title">Choix du maître du donjon pour la campagne</h2>
				<div class="form-section">
					<div class="form-element">
						<h3 class="white-description">Maître du donjon</h3>
						<mat-form-field class="form-input">
							<mat-label class="form-label white-description">Choisir le maître du donjon</mat-label>
							<mat-select formControlName="dungeonMaster" aria-label="Select a user" class="form-input creatable-players-list">
								<ng-container *ngFor="let user of users$ | async">
									<mat-option [value]="user">
										{{ user.name }}
									</mat-option>
								</ng-container>
								<mat-select-trigger>
									<div class="select-content white-description">
										<span>{{ dungeonMasterCtrl.value?.name }}</span>
										<span (click)="deleteDungeonMasterValue($event)">
											<mat-icon>clear</mat-icon>
										</span>
									</div>
								</mat-select-trigger>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			
				<div class="main-button-wrapper">
					<button class="form-input base-button" type="submit" [disabled]="campaignCreationForm.invalid">
						Créer la campagne
					</button>
				</div>
			</form>
		</ng-container>
	</div>
</ng-container>

<ng-template #loading>
	<p>Chargement...</p>
</ng-template>