<!-- PROFILE -->
<h3>{{ player.profile?.name }}</h3>

<!-- ATTRIBUTES -->
<p>Attack: {{ player.attributes?.lifePoints }}</p>
<p>Mana: {{ player.attributes?.manaPoints }}</p>
<p>Shield: {{ player.attributes?.shield }}</p>

<!-- ACTIONS -->
<p>Attack: {{ player.attributes?.attackCount }}</p>
<p>Heal: {{ player.attributes?.healCount }}</p>
<p>Chests: {{ player.attributes?.chestSearchCount }}</p>
<p>Traps: {{ player.attributes?.trapSearchCount }}</p>
<p>Steps: {{ player.attributes?.footSteps }}</p>

<!-- INVENTORY -->
<div id="inventory-content">
	@for (storedItem of player.storedItems; track storedItem.item.id) {
		<p>{{ storedItem.item.name }}</p>
	}
</div>