<!-- PROFILE -->
<h3>{{ player.profile?.name }}</h3>

<!-- ATTRIBUTES -->
<p>Attack: {{ player.attributes?.lifePoints }}</p>
<p>Mana: {{ player.attributes?.manaPoints }}</p>
<p>Shield: {{ player.attributes?.shield }}</p>

<!-- ACTIONS -->
<p>Attack: {{ player.attributes?.attackCount }}</p>
<p>Heal: {{ player.attributes?.healCount }}</p>
<p>Chests: {{ player.attributes?.chestSearchCount }}</p>
<p>Traps: {{ player.attributes?.trapSearchCount }}</p>
<p>Steps: {{ player.attributes?.footSteps }}</p>

<!-- INVENTORY -->
<div id="inventory-content">
	@for (item of player.storedItems; track item.id) {
		@if (item.weapon) {
			<p>{{ item.weapon.name }}</p>
		}
		@if (item.spell) {
			<p>{{ item.spell.name }}</p>
		}
		@if (item.potion) {
			<p>{{ item.potion.name }}</p>
		}
		@if (item.artifact) {
			<p>{{ item.artifact.name }}</p>
		}
	}
</div>