<a [routerLink]="['adventures', adventure.id]">
	<div class="card unlocked card-wrapper">
		<div class="card-content-wrapper">
			<h2>{{ adventure.name }}</h2>
			@if (adventure.endsAt) {
				<p>Terminée le {{ adventure.endsAt }}</p>
			}
			@else {
				<span>Démarrée le {{ adventure.startsAt | date: 'longDate' }}</span>
			}
			<!-- TODO add more info about the adventure (heroes, dungeonMaster, what else ?) -->
		</div>
		@if (adventure.endsAt) {
			<div class="status-badge-wrapper">
				<span class="status-badge completed-status">Aventure terminée</span>
			</div>
		}
		@else {
			<div class="status-badge-wrapper">
				<span class="status-badge">En cours</span>
			</div>
		}
	</div>
</a>