* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none; 
}

.form-element {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
}

.form-label {
	min-width: 200px;
	margin-right: 1rem;
}

.form-input {
	min-width: 200px;
}

.error-message {
	color: red;
	font-weight: 600;
}

.link-button {
	text-decoration: none;
	margin: 2rem 4rem;
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 6px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.link-button:hover {
	background-color: rgb(246, 246, 246);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.square-element {
	width: 3rem;
	height: 3rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
