<div
	class="creatable-player-icon"
	(click)="onSelectedPlayer()"
	[class.is-selected]="isSelected"
>
	<!-- TODO - get image from server - not scalable at all -->
	@switch (player.class) {
		@case (1) {
			<img class="icon" src="../../../assets/hero-classes/haches.png" alt="player icon">
		}
		@case (7) {
			<img class="icon" src="../../../assets/hero-classes/epees.png" alt="player icon">
		}
		@case (5) {
			<img class="icon" src="../../../assets/hero-classes/religion.png" alt="player icon">
		}
		@case (8) {
			<img class="icon" src="../../../assets/hero-classes/baguette-magique.png" alt="player icon">
		}
		@default {
			<!-- TODO - add error or default image ? -->
		}
	}
	
	<span>{{ player.name }}</span>
</div>