.nav-back-arrow {
	display: flex;
	gap: 1rem;
	margin: 2rem;
	justify-content: start;
	align-items: center;
}

.light-mode {
	color: #fff;
	text-decoration: underline #fff;
}

.dark-mode {
	color: #000;
	text-decoration: underline #000;;
}

.back-arrow-nav-wrapper {
	display: flex;
	width: 100vw;
	height: 10vh;
	justify-content: start;
}