.nav-back-arrow {
	display: flex;
	gap: 1rem;
	margin: 2rem;
	justify-content: start;
	align-items: center;
	text-decoration: underline rgb(255, 255, 255);
}

.back-arrow-nav-wrapper {
	display: flex;
	width: 100vw;
	max-height: 10vh;
	justify-content: start;
}