<div
	class="creatable-class-icon"
	(click)="onSelectedClass()"
	[class.is-selected]="isSelectedClass"
>
	<!-- TODO - get image from server - not scalable at all -->
	@switch (class.type) {
		@case (1) {
			<img class="icon" src="../../../assets/hero-classes/haches.png" alt="player warrior class icon">
		}
		@case (7) {
			<img class="icon" src="../../../assets/hero-classes/epees.png" alt="player rogue class icon">
		}
		@case (5) {
			<img class="icon" src="../../../assets/hero-classes/religion.png" alt="player cleric class icon">
		}
		@case (8) {
			<img class="icon" src="../../../assets/hero-classes/baguette-magique.png" alt="player wizard class icon">
		}
		@default {
			<!-- TODO - add error or default image ? -->
		}
	}
	
	<span>{{ class.lokalisedClassName }}</span>
</div>