<div id="players-page">
	<div class="player-background">
		<app-back-arrow text="Retour à la page d'accueil" link="../../.."></app-back-arrow>
		<ng-container *ngIf="currentPlayer; else emptyCurrentPlayerState">
			<div class="displayed-player">
				<app-selected-player [class]="currentPlayer.profile.class"></app-selected-player>
			</div>
		</ng-container>
			
		<ng-template #emptyCurrentPlayerState>
			<img alt="Empty player picture" src="../../../assets/players/empty-player.png" />
		</ng-template>
	</div>
		
	<div id="player-cards-list">
		<ng-container *ngFor="let player of players">
			<app-player-card [player]="player" [isSelected]="isSelected(player)" (playerSelected)="onPlayerSelected(player)"></app-player-card>
		</ng-container>
		<div class="main-button-wrapper">
			<a [routerLink]="['new']" class="link-button base-button">Créer un nouveau joueur</a>
		</div>
	</div>
</div>