#players-page {
	display: flex;
	height: 100vh;
	justify-content: space-between;
}

#player-cards-list {
	background-color: rgb(149, 128, 77);
	display: flex;
	flex-direction: column;
	width: 20vw;
}

.player-background {
	background-image: url('../../../assets/campaigns/hollbrook-background-campaign-image.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 80vw;
}

.displayed-player {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}