#players-page {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

#player-cards-list {
	display: flex;
	flex-direction: column;
	width: 20vw;
}

.displayed-player {
	background-image: url('../../../assets//campaigns/hollbrook-background-campaign-image.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
}