.creatable-class-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 8rem;
	height: 8rem;
	cursor: pointer;
}

.is-selected {
	border: 2px solid gold;
	border-radius: var(--border-radius);
}