<div
	class="creatable-class-icon"
	(click)="onSelectedSpecies()"
	[class.is-selected]="isSelectedSpecies"
>
	<!-- TODO - get image from server - not scalable at all -->
	@switch (species.type) {
		@case (1) {
			<img class="icon" src="../../../../assets/icons/species/human-species-icon.svg" alt="player human species icon">
		}
		@case (2) {
			<img class="icon" src="../../../../assets/icons/species/elf-species-icon.svg" alt="player elf species icon">
		}
		@case (3) {
			<img class="icon" src="../../../../assets/icons/species/halfelf-species-icon.svg" alt="player halfelf species icon">
		}
		@case (4) {
			<img class="icon" src="../../../../assets/icons/species/halfling-species-icon.svg" alt="player halfling species icon">
		}
		@case (5) {
			<img class="icon" src="../../../../assets/icons/species/dwarf-species-icon.svg" alt="player dwarf species icon">
		}
		@default {
			<!-- TODO - add error or default image ? -->
		}
	}
	
	<span>{{ species.lokalisedSpeciesName }}</span>
</div>