.nav-bar {
	width: 100vw;
	height: 10vh;
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-links {
	display: flex;
	justify-content: right;
	align-items: center;
	gap: 0.5rem;
}

.user-logo {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 2.5rem;
	border: 2px solid white;
}

.nav-logo {
	width: 3rem;
	margin-left: 2rem;
}

.nav-links {
	display: flex;
	justify-content: right;
	gap: 3rem;
	margin: 0 2rem;
}

.nav-button {
	color: white;
	background-color: rgba(0, 0, 0, 0.356);
	border: none;
}

.nav-button:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.518);
}