<header *ngIf="!isLoading">
	<nav class="nav-bar">
		<a routerLink="">
			<img alt="logo" src="../../../assets/logo/dungeons-and-dragons.png" class="nav-logo" />
		</a>
		<div class="nav-links">
			<ng-container *ngIf="isLoggedIn; else loggedOut">
				<a [routerLink]="['/users', userId, 'players']" class="link-button base-button nav-button">
					Voir mes joueurs
				</a>
				<div class="user-links">
					<img class="user-logo" src="../../../assets/logo/user-logo-wizard.png" />
					<button (click)="onLogout()" class="base-button base-button nav-button">Se déconnecter</button>
				</div>
			</ng-container>
			<ng-template #loggedOut>
				<a [routerLink]="['auth']" class="link-button base-button nav-button">Se connecter / Se créer un compte</a>
			</ng-template>
		</div>
	</nav>
</header>